:root {
    --color: #000;
    --highcolor: #ff5500;
    --bgcolor: #00000055;
    --bgcolordark: #000000cc;
    --bgcolorlight: #ffffffcc;
}
@font-face {
    font-family: 'Burbank';
    src: url('Assets/font/burbankbigcondensed_black.otf') format('opentype');
}

body, html {
    color:#fff;
    background: var(--bgcolor);
    margin:0;
    padding:0;
    overflow:auto;
    height:auto;
    font-family: 'Burbank', 'Reem Kufi';
    /* perspective: 100px; */
}

.primary {
    background-color: var(--color);
    -webkit-mask-image: var(--icon-url);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
            mask-image: var(--icon-url);
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
}


html, body { height: 100%; margin: 0; }
#map { width: 100%; height: 100%; }
.leaflet-tile { filter: saturate(1.9) contrast(1.1); }

.controls {
    font-size: 1.5rem;
    margin: 5 0px;
    font-family: 'Reem Kufi';
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    padding: 3px 10px;
    color: var(--color);
    background: var(--bgcolor);
    border: 3px solid var(--color);
    border-radius: 10px;
    cursor: pointer;
}

#infoPanel {
    font-size: 1.5rem;
    margin: 5 0px;
    font-family: 'Reem Kufi';
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 20%;
    max-height: 30%;
    z-index: 1000;
    padding: 3px 10px;
    color: var(--color);
    background: var(--bgcolor);
    border: 3px solid var(--color);
    border-radius: 10px;
    cursor: pointer;
    overflow-y: auto;       /* vertikales Scrollen */
    overflow-x: hidden;     /* horizontales Scrollen verhindern */
    scrollbar-width: thin;
    scrollbar-color: var(--color) var(--bgcolor);
    transition: max-width 0.3s ease, max-height 0.3s ease, background 3s ease, border .3s ease;
}

#infoPanel:hover {
    max-width: 35%;
    max-height: 50%;
    background: var(--bgcolorlight);
    border: 5px solid #000;
}

/* Chrome, Edge, Safari */
#infoPanel::-webkit-scrollbar {
    width: 8px;
}

#infoPanel::-webkit-scrollbar-track {
    background: var(--bgcolor);
    border-radius: 10px;
}

#infoPanel::-webkit-scrollbar-thumb {
    background-color: var(--highcolor);
    border-radius: 10px;
    border: 2px solid var(--bgcolor);
}

#infoPanel::-webkit-scrollbar-thumb:hover {
    background-color: #ff7700;
}

.controls button {
    font-family: 'Reem Kufi';
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    margin: 5 0px;
    padding: 3px 0px;
    color: var(--color);
    background: var(--bgcolor);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.plane-icon {
  transition: transform 0.15s ease, opacity 0.15s ease;
  transform-origin: center center;
}

.plane-icon.hovered {
  transform: scale(1.6);
  z-index: 1000;
}

.plane-icon.dimmed {
  opacity: 0.3;
}

/* #infoPanel {
  position:absolute;
  top:0;
  right:0;
  width:25%;
  height:100%;
  background:#222;
  color:#fff;
  padding:15px;
  overflow:auto;
} */

/* Basis */
.country {
  stroke: #555;
  stroke-width: 1;
  fill: #00000000;
  fill-opacity: 0.0;
  transition: fill-opacity 0.1s ease, stroke-width 0.1s ease, stroke 0.1s ease;
}

/* Hover */
.country-hover {
    stroke-width: 4 !important;
    fill: #000;
    fill-opacity: 0.216;
}

/* Selected */
.country-selected {
    stroke-width: 4;
    fill: #000;
    fill-opacity: 0.0;
    stroke: #000;
    transition: fill-opacity 3s ease, stroke-width 3s ease, stroke 3s ease;
}
/* Blinking */
.country-blink {
    stroke-width: 2;
    fill: #000;
    fill-opacity: 0.216;
    transition: fill-opacity 0.1s ease, stroke-width 0.1s ease, stroke 0.1s ease;

}